.background-blob {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: 50% 50%;

  &.blob-1 {
    fill: $teal;
    animation: blob1move 8s ease-in-out infinite;
    animation-direction: alternate;
    width: 50vw;
  }

  &.blob-2 {
    width: 40vw;
    fill: $blue;
    animation: blob2move 12s ease-in-out infinite;
  }

  &.blob-3 {
    width: 30vw;
    fill: $orange;
    animation: blob3move 10s ease-in-out infinite;
  }

  &.blob-4 {
    top: 100vh;
    fill: $blue;
    width: 40vmax;
    z-index: -1;
    animation: move 20s ease-in-out infinite;
    animation-direction: alternate;
    transform-origin: 50% 50%;
  }
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}

@keyframes blob1move {
  0% {
    transform: scale(1.3) translate(-8vw, -10vh) rotate(0deg);
  }
  38% {
    transform: scale(1.2, 1.3) translate(-8vw, -10vh) rotate(60deg);
  }
  40% {
    transform: scale(1.2, 1.3) translate(-8vw, -10vh) rotate(60deg);
  }
  78% {
    transform: scale(1.5) translate(-8vw, -10vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.5) translate(-8vw, -10vh) rotate(-20deg);
  }
  100% {
    transform: scale(1.3) translate(-8vw, -10vh) rotate(0deg);
  }
}

@keyframes blob2move {
  0% {
    transform: scale(1.1) translate(30vw, 10vh) rotate(-60deg);
  }
  38% {
    transform: scale(0.8, 1) translate(30vw, 10vh) rotate(-60deg);
  }
  40% {
    transform: scale(0.8, 1) translate(30vw, 10vh) rotate(-60deg);
  }
  78% {
    transform: scale(1.3) translate(30vw, 10vh) rotate(20deg);
  }
  80% {
    transform: scale(1.3) translate(30vw, 10vh) rotate(20deg);
  }
  100% {
    transform: scale(1.1) translate(30vw, 10vh) rotate(-60deg);
  }
}

@keyframes blob3move {
  0% {
    transform: scale(1.1) translate(70vw, 40vh) rotate(120deg);
  }
  20% {
    transform: scale(0.8, 1) translate(80vw, 40vh) rotate(90deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 40vh) rotate(90deg);
  }
  60% {
    transform: scale(1.3) translate(70vw, 40vh) rotate(180deg);
  }
  80% {
    transform: scale(1.3) translate(70vw, 40vh) rotate(180deg);
  }
  100% {
    transform: scale(1.1) translate(70vw, 40vh) rotate(120deg);
  }
}
