.color-wall {
  padding-top: 70px;

  h2 {
    font-size: 3.6rem;
    line-height: 1.2;
    text-align: center;
    animation-duration: 1.7s;

    @media (max-width: 1280px) {
      font-size: calc(2rem + (36 - 20) * (100vw - 320px) / (1280 - 320));
    }
  }

  h3 {
    margin: 20px auto 70px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;

    @media (max-width: 1280px) {
      font-size: calc(1.8rem + (2 - 1.8) * (100vw - 320px) / (1280 - 320));
    }

    @media (max-width: 768px) {
      margin-bottom: 15vw;
    }

    @media (max-width: 480px) {
      width: 80%;
    }
  }

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -40px; /* gutter size offset */
    width: auto;

    .my-masonry-grid_column {
      padding-left: 40px; /* gutter size */
      background-clip: padding-box;
    }

    .submission {
      margin-bottom: 40px;
      background: $white;
      padding: 30px;
      display: inline-block;

      @media (max-width: 480px) {
        padding: 20px;
      }

      &-name {
        display: flex;
        justify-content: center;

        p {
          font-size: 1.6rem;
          font-weight: 700;
          color: $white;
          background: $black;
          padding: 0.5rem 2rem 0.75rem;
          margin: 0 auto 30px;
          text-align: center;
          display: inline-block;
        }
      }

      .image-container {
        position: relative;
        max-width: 100%;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          margin: 0 auto;
        }
      }

      .submitted-swatches {
        width: 100%;
        margin: 0 0 30px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-items: center;
        grid-gap: 10px 10px;

        @media (max-width: 682px) {
          grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        }

        @media (max-width: 480px) {
          grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        }
      }

      .submitted-swatch {
        button {
          background: none;
          border-radius: 0;
          padding: 10px 20px;
          border: 1px solid transparent;
          transform: scale(1);
          transition: all 0.2s;

          &:focus {
            transform: scale(1.1);
          }

          &:active .color-blob {
            transform: scale(1.25);
          }
        }

        .color-blob {
          width: 65px;
          height: 65px;
          margin: 0 auto;
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.7);
          animation: swatchblobtransform 12s ease-in-out infinite both;
          transform: scale(1);
          transition: all 0.2s ease;

          &:hover {
            cursor: cell;
          }
        }
        &:nth-child(2n) {
          .color-blob {
            animation: swatchblobtransform 15s ease-in-out infinite reverse both;
          }
        }

        p {
          color: $darkgrey;
          font-weight: bold;
          font-size: 1.3rem;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}
