// COLORS
$black:#212121;
$grey: #a3a3a3;
$white: #fff;
$teal: #52bcc1;
$blue: #3748f3;
$orange: #ffa143;

// MIXINS

@mixin form-input ($background, $color, $padding: 1rem 3rem 1.3rem) {
  background: $background;
  color: $color;
  padding: $padding;
}