.loader {
  width: 100%;
  height: 100%;
  background: $white;
  position: absolute;
  z-index: 100;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: $blue;
  animation-delay: -1.5s;
}
.load :nth-child(2) {
  background: $orange;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background: $teal;
  animation-delay: -0.5s;
}
.load :last-child {
  background: pink;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
