.reset {
  position: absolute;
  background: red;
}

.results {
  border: 2px solid blue;
  background: $white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 3%;

  &.hide {
    display: none;
  }

  & > * {
    border: 2px solid pink;
    height: 100%;
  }

  &-left,
  &-right {
    height: 60%;
  }

  &-left {
    flex: 0 0 35%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    & > * {
      width: 100%;
    }

    .image-container {
      border: 2px solid green;
      width: 100%;
      max-height: 90%;
      margin: 5% 0;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        margin: 0 auto;
      }
    }

    input,
    button.save-palette {
      width: 100%;
      font-size: 1.8rem;
      font-weight: 700;
    }

    input {
      @include form-input(transparent, $grey, 0.75rem 2rem 1.25rem);
      border: 3px solid $grey;
      margin-bottom: 2rem;
    }

    button.save-palette {
      @include form-input($black, $white);
    }
  }

  &-right {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    & > * {
      width: 100%;
    }

    .current-palette-container {
      height: 90%;
      overflow: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .swatch {
        flex: 0 1 25%;
        max-height: 264px;
        padding: 2rem 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        & > * {
          width: 100%;
        }
      }

      .color-blob {
        border: 2px solid purple;
        width: 60%;
        height: 6.15vw;
        margin-bottom: 1rem;
        border: 1px solid pink;
        &:hover {
          cursor: cell;
        }
      }

      p {
        // border: 1px solid blue;
        color: $black;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }

  &-bottom {
    width: 100%;
    margin-top: 4%;
    height: 35%;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    & > * {
      width: 100%;
    }

    .selected-palette {
      border: 1px solid blue;
      height: 45%;
    }

    form {
      display: flex;
      justify-content: center;

      div,
      button {
        font-size: 1.6rem;
      }

      div {
        flex: 0 0 45%;
        margin-right: 5%;

        input {
          width: 100%;
          height: 100%;
          font-weight: bold;
          border-radius: 50px;
          border: 2.5px solid $darkgrey;
          @include form-input(transparent, $black, 1rem 2rem 1.25rem);

          &::placeholder {
            color: $darkgrey;
          }
        }
      }

      button {
        flex: 0 0 35%;
        @include form-input($black, $white, 1rem 2rem 1.25rem);
        font-weight: bold;
      }
    }
  }

  &-heading {
    color: $darkgrey;
    font-weight: 700;
    font-size: 2.4rem;

    @media (max-width: 1280px) {
      font-size: calc(1.8rem + (24 - 18) * (100vw - 320px) / (1280 - 320));
    }

    &.your-palette {
      text-align: center;
    }
  }
}

.selected-swatch {
  background: red;
}
